*{
	margin: 0;
	padding: 0;
	font-family: 'NotoSans-Regular', Arial;
}

.wrapper {
	max-width: 1000px;
	margin: auto;
}

.clearfix::after,.input::after{
	clear: both;
	display: table;
	content: "";
}

img{
	float: left;
}
/* trán viết lại hết của người ta rồi còn xài j nữa */
.navbar {
	height: 50px;
	background-color: #ff4da6;
	
}

.navbar .menu{
	list-style-type: none;
	margin-left: 20px;
	position: relative;
}

.navbar .menu li{
	float: left;
}

.floatleft {
	float: left;
}

.navbar .menu li .nav-link{
	font-family: 'NotoSans-Regular', Arial;
	display: block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #fff;
	padding: 0 20px;
	opacity: 0.8;
	transition: 300ms all;
}

.navbar .menu li a{
	font-size: 15px;
	color: #fff;
	font-weight: bold;
}

.navbar .menu .dropdown{
	display: none;
	position: absolute;
	background: #fff;
	color: #ff3333;

}

.navbar .menu .dropdown a{
	display: block;
	padding: 10px;
}

.navbar .menu .dropdown a:hover{
	background: #e1e1e1;
	transform: translateX(10px);
}

.navbar .menu .dropdown a::before{
	display: inline-block;
}

.floatright {
	float: right;
}

.navbar .searchbox {
	float: right;
}

.navbar .user li {
	float: right;
	line-height: 50px;
	list-style-type: none;
}

.navbar .user li a{
	font-family: 'NotoSans-Regular', Arial;
	padding: 0 20px;
	font-weight: bold;
}

.navbar .user li .login{
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid #fff;
}

.navbar .user li .login:hover{
	background-color: #fff;
	color: #ff4da6;
}

.navbar .user .shopping{
	color: #fff;
}

.navbar .user li i{
	font-size: 20px;
}

.navbar .user .searchbox{
	line-height: 30px;
	margin-top: 10px;
	float: right;
	border-radius: 40px;
	background-color: #fff;
}

.searchbox .search_btn {
	width: 40px;
	line-height: 30px;
	border-radius: 50%;
	color: #ff4da6;
	transition: 0.4s;
}

.searchbox .search-txt {
	background: none;
	border: none;
	outline: none;
	color: black;
	transition: 0.4s;
	width: 0px;
	line-height: 30px;
}

.searchbox:hover > .search-txt{
	width: 180px;
	padding: 0 6px;
}
